.root
{
    -fx-background-color: #E7DFFE
}

.title
{
    -fx-fill: #7B81D2;
}

.separator *.line
{
    -fx-border-style:solid;
    -fx-border-color:#7B81D2;
    -fx-border-width: 1px;

}

.normalButton
{
    -fx-background-color:#7B81D2;
    -fx-border-color:#E7DFFE;
    -fx-border-radius:2px;
    -fx-background-insets: 1px;
    -fx-text-fill: #E7DFFE;
}

.normalButton:hover
{
    -fx-background-color: #E7DFFE;
    -fx-border-color:#7B81D2;
    -fx-border-radius:2px;
    -fx-text-fill: #7B81D2;
}

.completeButton
{
    -fx-background-color:#7B81D2;
    -fx-border-color:#E7DFFE;
    -fx-border-radius:2px;
    -fx-background-insets: 1px;
    -fx-text-fill: #E7DFFE;
}

.completeButton:hover
{
    -fx-background-color: #E7DFFE;
    -fx-border-color:#7B81D2;
    -fx-border-radius:2px;
    -fx-text-fill: #7B81D2;
}



.normalLabel
{
    -fx-text-fill:#7B81D2;
}

/*-------------------- Text Field -------------------------*/

.text-field
{
    -fx-border-color:#7B81D2;
    -fx-border-radius: 2px;
    -fx-background-color:#E7DFFE;
    -fx-text-fill: #7B81D2;
    -fx-prompt-text-fill:#96A3E8;
    -fx-highlight-fill:#96A3E8;
}

.text-field:focused, .text-field:focused :hover  {
    -fx-background-color: #96A3E8, #E7DFFE;
}


/*-------------------- Text Area -------------------------*/

.text-area
{
    -fx-border-color:#7B81D2;
    -fx-border-radius:2px;
    -fx-text-fill:#7B81D2;
    -fx-prompt-text-fill:#96A3E8;
    -fx-highlight-fill:#96A3E8;
    -fx-focus-color: #96A3E8;
}

.text-area .content
{
    -fx-background-color:#E7DFFE;
}

.text-area:focused, .text-area:focused :hover  {
    -fx-background-color: #96A3E8, #E7DFFE;
}

/*-------------------- Date Picker -------------------------*/

.date-picker 
{
    -fx-border-color:#7B81D2;
    -fx-background-color:#E7DFFE;
    -fx-border-radius:2px;
}

.date-picker-display-node
{
    -fx-border-color:none;
}

.date-picker .arrow-button{
	-fx-background-color: #7B81D2;
    -fx-background-radius: 2px;
}

.date-picker .arrow-button .arrow {
	-fx-background-color: #E7DFFE;

}

.date-picker .arrow-button:hover
{
    -fx-background-color: #96A3E8;
}



/*-------------------- Select -------------------------*/

.choice-box
{
    -fx-border-color: #7B81D2;
    -fx-background-color:#E7DFFE;
    -fx-border-radius: 2px;
}

.choice-box .text
{
    -fx-fill: #7B81D2;
}

.choice-box .open-button .arrow
{
    -fx-background-color: #7B81D2;
}

/*-------------------- Big list View -------------------------*/

.bigListView
{
    -fx-background-color:#E7DFFE;
}

.bigListView
{
    -fx-background-color:#E7DFFE;
}

.bigListView .scroll-bar .track-background, .bigListView .scroll-bar .increment-button:hover, .bigListView .scroll-bar .decrement-button:hover
{
    -fx-background-color:#7B81D2;
    -fx-background-radius:3px;
}

.bigListView .scroll-bar .thumb, .bigListView .scroll-bar .decrement-button .decrement-arrow, .bigListView .scroll-bar .increment-button .increment-arrow
{
    -fx-background-color:#96A3E8;
}

.bigListView .scroll-bar .thumb:hover, .bigListView .scroll-bar .thumb:pressed, .bigListView .scroll-bar .decrement-button:hover .decrement-arrow, .bigListView .scroll-bar .increment-button:hover .increment-arrow
{
    -fx-background-color:#E7DFFE;

}

.bigListView .list-cell
{
    -fx-background-color:#7B81D2;
    -fx-background-radius: 3px;
    -fx-background-insets: 3px;

    -fx-border-color:#7B81D2;
    -fx-border-radius: 3px;
    -fx-border-insets: 3px;
}

.bigListView .list-cell .text
{
    -fx-fill:#E7DFFE;
    -fx-font-size: 22px;
}


.bigListView .list-cell:hover
{
    -fx-background-color:#E7DFFE;
    -fx-background-radius: 3px;
    -fx-background-insets: 3px;

    -fx-border-color:#7B81D2;
    -fx-border-radius: 3px;
    -fx-border-insets: 3px;
}

.bigListView .list-cell:hover .text
{
    -fx-fill:#7B81D2;
    -fx-font-size: 22px;
}

.bigListView .list-cell:selected{
    -fx-background-color:#96A3E8;
    -fx-background-radius: 3px;
    -fx-background-insets: 3px;

    -fx-border-color:#96A3E8;
    -fx-border-radius: 3px;
    -fx-border-insets: 3px;
}

.bigListView .list-cell:selected .text
{
    -fx-fill:#7B81D2;
    -fx-font-size: 22px;
}

.bigListView .list-cell:empty{
    -fx-background-color:#E7DFFE;
    -fx-background-radius: 3px;
    -fx-background-insets: 3px;

    -fx-border-color:#E7DFFE;
    -fx-border-radius: 3px;
    -fx-border-insets: 3px;
}


/*-------------------- Small list View -------------------------*/


.smallListView
{
    -fx-background-color:#E7DFFE;
    -fx-background-radius:2px;
}

.smallListView .scroll-bar .track-background, .smallListView .scroll-bar .increment-button:hover, .smallListView .scroll-bar .decrement-button:hover
{
    -fx-background-color:#7B81D2;
    -fx-background-radius: 3px;
}

.smallListView .scroll-bar .thumb, .smallListView .scroll-bar .decrement-button .decrement-arrow, .smallListView .scroll-bar .increment-button .increment-arrow
{
    -fx-background-color:#96A3E8;
}

.smallListView .scroll-bar .thumb:hover, .smallListView .scroll-bar .thumb:pressed, .smallListView .scroll-bar .decrement-button:hover .decrement-arrow, .smallListView .scroll-bar .increment-button:hover .increment-arrow
{
    -fx-background-color:#E7DFFE;

}

.smallListView .list-cell .text
{
    -fx-fill:#7B81D2;
    -fx-font-size: 13px;
}

.smallListView .list-cell:even
{
    -fx-background-color:#FEF2F2;
}

.smallListView .list-cell:odd
{
    -fx-background-color:#F3E9F8;
}

.smallListView .list-cell:hover
{
    -fx-background-color: #96A3E8;
}

.smallListView .list-cell:hover .text
{
    -fx-fill: #5D609E;
}

.smallListView .list-cell:selected .text
{
    -fx-fill:#E7DFFE;
}

.smallListView .list-cell:selected{
    -fx-background-color:#7B81D2;
}